{{#with prodotto}}
  <div class="card mt-3">
    <div class="card-header">
      <h3 class="card-title">{{title}}</h3>
    </div>
    <div class="card-body">
      <p class="card-text">{{description}}</p>
      <ul class="list-group">
        <li class="list-group-item">Prezzo: <b>{{price}}€</b></li>
        <li class="list-group-item">Sconto: <b>{{discountPercentage}}%</b></li>
        <li class="list-group-item">Disponibilità: <b>{{stock}} pezzi</b></li>
        <li class="list-group-item">Popolarità:
          <b>{{rating}}/5</b><img
            src="/img/star.png"
            class="rating"
            alt="star-rating"
          /></li>
        <li class="list-group-item">
          <a
            class="btn btn-sm btn-info"
            href="http://localhost:3000/api/prodotto/{{id}}"
          >Link API Prodotto</a>
        </li>
      </ul>
    </div>
    <div class="container card-footer">
      <a
        href="http://localhost:3000/"
        class="btn btn-outline-secondary btn-sm"
      >Torna ai prodotti</a>
    </div>

  </div>
{{/with}}